*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    background-image: linear-gradient(180deg, #212C56 0%, #430F0F 100%);
}

header div img{
    width: 115px;
    border-radius: 50%;
}

header div div{
    margin: 25px;
    background: linear-gradient(180deg, #5957C5 0%, #C81C1C 100%);
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
    transition: hover, 0.3s;
}

header div div:hover{
    transform: scale(1.1);
}

header div{
    display: flex;
    justify-content: center;
}

main{
    font-family: "Oswald", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section{
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    background: #F8D8C2;
    width: 90%;
    height: 249px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-wrap: wrap;
    max-width: 580px;
}

ul{
    display: flex;
    list-style: none;
}

li{
    width: 110px;
    height: auto;
    background: #CF3B3B;
    margin: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: hover, 0.3s;
}

li:hover{
    transform: scale(1.05);
}

 section li p{
    margin: 0;
    color: rgb(39, 39, 39);
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: bold;
}

li a img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 110px;
    height: 157px;
}


.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 580px;
    width: 90%;
    height: 35px;
    background: #CF3B3B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.title h2{
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.movie_list{
    margin-left: 5% ;
    margin-right: 5%;
}